a {
  color: #fffbee;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color:#fffbee;
  background-image:url("image/GoldenRatio_006600.png"), url("image/GoldenRatio_006600_bottom.png");
  background-repeat: no-repeat;
  background-position:75% 20%, right 15% bottom 0%;
  background-size:auto 30vh, auto 30vh;
  background-attachment: fixed;
  color: #006600;
  font-size: 10;
  font-family: sans-serif;
}


/**************************/

header {
  padding:15px;
  background: #fffbee;
}

#nav-drawer {
  position: relative;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 22px;
  vertical-align: middle;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #006600;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -10px;
}
#nav-open span:after {
  bottom: -20px;
}

/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  transition: .3s ease-in-out;
}

/*メニューの中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 90%;
  max-width: 330px;/*最大幅（お好みで調整を）*/
  height: 100%;
  background: #006600;
  transition: .3s ease-in-out;
  -webkit-transform: translateX(-105%);
  transform: translateX(-105%);
}

/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: .5;
}

#nav-input:checked ~ #nav-content {
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  box-shadow: 6px 0 25px rgba(0,0,0,.15);
}

.header-logo-menu{
 display: flex;
 display: -moz-flex;
 display: -o-flex;
 display: -webkit-flex;
 display: -ms-flex;
 flex-direction: row;
 -moz-flex-direction: row;
 -o-flex-direction: row;
 -webkit-flex-direction: row;
 -ms-flex-direction: row;
}

/*ロゴやサイトタイトルをセンタリング*/
.logo-area{text-align:center;margin:auto;}

@media screen and (min-width:767px) {
  #nav-drawer {
    display:none;
  }
}


/**************************/

.main{
  display: flex;
 }

.nav-drawer-big{
  background: #006600;
  width: 100%;
  max-width: 330px;/*最大幅（お好みで調整を）*/
  height: 95vh;
}

@media screen and (max-width:767px) {
  #nav-drawer-big {
    display:none;
  }
}


/*点滅*/
.blink_paragraph {
  background: none;
  width: auto;
  height: 500px;

  animation: blinkEffect 1s ease-in-out infinite alternate;
  position: relative;
  top: 40px; left: 40px;

  color: #006600;
  font-family: sans-serif;
  font-size: 50px;

}

@keyframes blinkEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.contentC {
  background: #006600;
  width: 100%;
  height: 30px;

  position: absolute;
  bottom: 0%;

  color: #fffbee;
  font-family: sans-serif;


}


 footer{
  background: #006600;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 30px;
}


/**************************/